{% extends 'base.html.twig' %}

{% block title %}Edit AvailabilityContact{% endblock %}

{% block body %}
    <h1>Edit AvailabilityContact</h1>

    {{ include('availability_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_availability_contact_index') }}">back to list</a>

    {{ include('availability_contact/_delete_form.html.twig') }}
{% endblock %}
