{% extends 'base.html.twig' %}

{% block title %}New AvailabilityContact{% endblock %}

{% block body %}
    <h1>Create new AvailabilityContact</h1>

    {{ include('availability_contact/_form.html.twig') }}

    <a href="{{ path('app_availability_contact_index') }}">back to list</a>
{% endblock %}
