{% extends 'layouts/base.html.twig' %}

{% block body %}
  <main id="main">
    {# Intro Single #}
     {{ include('product/partials/_intro_single.html.twig') }}

    <section class="d-flex justify-content-center">
    <div class="container">
    <div class="grid">
   
        {# Products Grid #}
        {% for product in products %}
        {% include ('product/partials/_card.html.twig') with {product:product}only %}
        
        {% endfor %}
   
      </div>
      </div>
    </section>
    
  </main>
{% endblock body %}