
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  

 <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-1.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Villa Anais, Nice
                      <br> 06200
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">204 </span> Mont
                      <br> Valérien
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">la semaine | €  1200</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-2.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Gîte Doral, Chamonix
                      <br> 78345
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">16 </span> Allée
                      <br> Vent Du Sud
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">la semaine | €  1500</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-3.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Château Alira, Bordeaux
                      <br> 34220
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">145</span> Allée
                      <br>  du Bois de Chaville
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">la semaine | €  2000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

 