{% extends 'base.html.twig' %}


{% block title %}Contact{% endblock %}



{% block body %}
 <style>
              
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{

    font-family:'Lato', sans-serif;
}
body, html
{
 color: #333;
 display: grid;
 grid-gap: 10px;
 max-width: 100%;
 
 place-items: center;
}

h1  {
    margin: 0;
    padding:20px;
    color: green;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 5rem;
}

form{
    width: 100%;
}

form label{
    font-size: 1.2rem;
}

input, textarea, button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font-size: 1.2rem;
}

input[type=text], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
}

.btn-primary[type="submit"]:hover, button:hover {
    background : lightgreen;
    border-color:lightgreen;
}
.btn-primary{

    background : green;
    border-color:green;
}

</style>



        
              

    <h1>Contactez-nous</h1>

{{form(formulaire)}}



{% endblock %}



